.mynav{
    background-color: aqua !important;
    position: sticky !important;
    z-index: 999;
    top: 0;
}

.navitems .nav-item .nav-link.active{
    font-weight: 900;
    color: red;
   text-decoration: underline;
   text-transform: uppercase;
}
.dropdown-toggle{
    color: black !important;
    text-decoration: none;
}